<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WeBind-20151208103705.mdf;Initial Catalog=aspnet-WeBind-20151208103705;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="WeBindIdentity" connectionString="metadata=res://*/Models.WeBind.csdl|res://*/Models.WeBind.ssdl|res://*/Models.WeBind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Kruti-PC\Rushil;initial catalog=WeBindIdentity;integrated security=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DemoWBEntities" connectionString="metadata=res://*/Models.DemoW.csdl|res://*/Models.DemoW.ssdl|res://*/Models.DemoW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KRUTI-PC\RUSHIL;initial catalog=DemoWB;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="WeBindEntities" connectionString="metadata=res://*/Models.WeBind.csdl|res://*/Models.WeBind.ssdl|res://*/Models.WeBind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KRUTI-PC\RUSHIL;initial catalog=DemoWB;integrated security=True;pooling=False;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

    <add name="WeBindDemoEntities" connectionString="metadata=res://*/Models.WeBind.csdl|res://*/Models.WeBind.ssdl|res://*/Models.WeBind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TAHA-PC;initial catalog=WeBind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WeBindIdentity" connectionString="data source=Kruti-PC\Rushil;initial catalog=WeBind;integrated security=True;" providerName="System.Data.SqlClient" />

    <!--<add name="WeBindDemoEntities" connectionString="metadata=res://*/Models.WeBind.csdl|res://*/Models.WeBind.ssdl|res://*/Models.WeBind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.248.81.32;initial catalog=webindi2_webind;Integrated Security=False;User ID=webindi2_webind;Password=Cybage@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="WeBindIdentity" connectionString="data source=103.248.81.32;initial catalog=webindi2_webind;integrated security=False;User ID=webindi2_webind;Password=Cybage@123;" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="emailID" value="rushil27shah@gmail.com" />
    <add key="password" value="a!kruti9426769170" />
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="mailFromName" value="WeBind" />
    <add key="bcc" value="rushil27shah@gmail.com" />

    <add key="newsletter_emailID" value="datawebind@gmail.com" />
    <add key="newsletter_password" value="webind123" />
    <add key="newsletter_host" value="smtp.gmail.com" />
    <add key="newsletter_port" value="587" />
    <add key="newsletter_mailFromName" value="WeBind" />
    <add key="newsletter_bcc" value="rushil27shah@gmail.com" />


    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="rushil27shah@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="rushil27shah@gmail.com" password="a!krutfgfg" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>