@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="panel-body">
                        <div class="media media-clearfix-xs">
                            <div class="media-center text-center">
                                <div>
                                    <h3>
                                        Please check your email to reset your password.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>