@model WeBind.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password ?";
}

<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                <h3>@ViewBag.Title</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group form-control-material static required">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "exampleInputEmail1", placeholder = "Enter email", type = "email" })
                                <label for="exampleInputEmail1">Email address</label>
                            </div>
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
