@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="panel-body">
                        <div class="media media-clearfix-xs">
                            <div class="media-center text-center">
                                <div>
                                    <h3>
                                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>