
<div class="parallax cover overlay height-400 height-600-lg height-320-xs margin-bottom-none">
    <img class="parallax-layer" src="~/images/Campus Super Hero.png" alt="parallax image" />
    <div class="parallax-layer overlay overlay-full" data-opacity="true">
        <div class="v-center">
            <div class="container">
                @*<h1 class="text-display-1 overlay-bg-white-strong display-inline-block">Being a Super Hero</h1>
                    <p class="text-subhead overlay-bg-white-strong">
                        Our Campus Superhero is not batman responsible for saving the vulnerable Gotham from mighty Bane or krissh to prove his superhuman prowess. He is endowed with far greater responsibility which is- help his folks in his college shape their career.
                    </p>
                    <p class="text-subhead overlay-bg-white-strong">
                        If you have in you- the spirit of leadership, the wish to earn your own pocket money and the perseverance to create a visible impact then you have all the reasons to become WeBind’s Campus Superhero.
                    </p>*@
            </div>
        </div>
    </div>
</div>

<div class="cover">
    <div class="" data-opacity="true">
        <div class="page-section bg-white">
            <div class="container">
                <div class="text-center">
                    <h1 class="text-display-1 overlay-bg-white-strong display-inline-block">Being a Super Hero</h1>
                    <p class="text-subhead overlay-bg-white-strong">
                        Our Campus Superhero is not batman responsible for saving the vulnerable Gotham from mighty Bane or krissh to prove his superhuman prowess. He is endowed with far greater responsibility which is- help his folks in his college shape their career.
                    </p>
                    <p class="text-subhead overlay-bg-white-strong">
                        If you have in you- the spirit of leadership, the wish to earn your own pocket money and the perseverance to create a visible impact then you have all the reasons to become WeBind’s Campus Superhero.
                    </p>

                    @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                </div>
            </div>
            @*<div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="col-lg-5 text-center">
                                <h1 class="text-grey-400 margin-top-none" style="font-size:120px"><i class="fa fa-question fa-2x"></i></h1>
                                @*<img class="col-lg-11" src="~/images/howitworks1.png" alt="parallax image" />
                            </div>
                            <div class="page-section col-lg-6 text-center" style="margin-top:30px">
                                <h1 class="text-display-1 overlay-bg-white-strong display-inline-block">How to become a WCS</h1>
                                <p class="text-subhead overlay-bg-white-strong">We already have a dozen students for this position and every one is curious as to why we say Superhero</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        @*<div class="page-section bg-white">
            <div class="container">
                <div class="text-center">
                    @*<h3 class="text-display-1">Feedbacks</h3>*@
                    @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow bg-white" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="col-lg-3 text-center">
                                <div class="text-blue-400">
                                    <div class="panel-body">
                                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/Inspiration.png" class="width-70" /></h1>
                                    </div>
                                </div>
                                <h3 class="text-brown-400 margin-top-none">Inspiration</h3>
                                <p class="text-subhead">Takes student’s interest in the subject to another level.</p>
                            </div>
                            <div class="col-lg-3 text-center">
                                <div class="text-blue-400">
                                    <div class="panel-body">
                                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/Information.png" class="width-70" /></h1>
                                    </div>
                                </div>
                                <h3 class="text-brown-400 margin-top-none">Information</h3>

                                <p class="text-subhead">Lets them understand the dynamics of the industry right from the horse’s mouth</p>
                            </div>
                            <div class="col-lg-3 text-center">
                                <div class="text-blue-400">
                                    <div class="panel-body">
                                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/Insight.png" class="width-70" /></h1>
                                    </div>
                                </div>
                                <h3 class="text-brown-400 margin-top-none">Insight</h3>
                                <p class="text-subhead">Gives them a solid understanding of what credentials his preferred industry requires</p>
                            </div>
                            <div class="col-lg-3 text-center">
                                <div class="text-blue-400">
                                    <div class="panel-body">
                                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/Interaction.png" class="width-70" /></h1>
                                    </div>
                                </div>
                                <h3 class="text-brown-400 margin-top-none">Interaction</h3>
                                <p class="text-subhead">Endows them with an opportunity to validate their ideas and get their concerns addressed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="page-section">
            <div class="container">
                <div class="text-center">
                    @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                </div>
            </div>
            <div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <p class="col-lg-11 icon-block double text-cyan-400" style="font-size:150px">1</p>
                            </div>
                            <div class="page-section col-lg-8 text-center" style="">
                                <h1 class="text-display-1 overlay-bg-white-strong display-inline-block">CO-Ordinating the topic/master profile/schedule</h1>
                                @*<p class="text-subhead overlay-bg-white-strong">We already have a dozen students for this position and every one is curious as to why we say Superhero</p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="text-center">
                    @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                </div>
            </div>
            <div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="page-section col-lg-8 text-center" style="">
                                <h1 class="text-display-1 overlay-bg-white-strong display-inline-block">Following the SOP of the pre and post Master Class</h1>
                                @*<p class="text-subhead overlay-bg-white-strong">We already have a dozen students for this position and every one is curious as to why we say Superhero</p>*@
                            </div>
                            <div class="col-lg-4">
                                <p class="col-lg-11 icon-block double text-cyan-400 pull-right" style="font-size:150px">2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="text-center">
                    @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                </div>
            </div>
            <div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <p class="col-lg-11 icon-block double text-cyan-400" style="font-size:150px;">3</p>
                            </div>
                            <div class="page-section col-lg-8 text-center" style="">
                                <h1 class="text-display-1 overlay-bg-white-strong display-inline-block">Ensuring smooth mock and Master Class in the college from technical/management perspective</h1>
                                @*<p class="text-subhead overlay-bg-white-strong">We already have a dozen students for this position and every one is curious as to why we say Superhero</p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="page-section">
            <div class="container">
                <div class="text-center">
                    @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="page-section col-lg-8 text-center" style="">
                                <h1 class="text-display-1 overlay-bg-white-strong display-inline-block">How to become a WCS</h1>
                                <p class="text-subhead overlay-bg-white-strong">We already have a dozen students for this position and every one is curious as to why we say Superhero</p>
                            </div>
                            <div class="col-lg-4">
                                <p class="col-lg-11 icon-block double text-cyan-400 pull-right" style="font-size:150px">4</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>