<div class="parallax cover overlay cover-image-full home">
    <img class="parallax-layer" src="~/images/Careers.jpg" alt="Learning Cover" />
    <div class="parallax-layer overlay overlay-full overlay-bg-white bg-transparent" data-speed="8" data-opacity="true">
        <div class="v-center">
            <div class="page-section overlay-bg-white-strong relative paper-shadow" data-z="1">
                <h1 class="text-display-2 margin-v-0-5 display-inline-block">Join Us</h1>
                <p class="text-subhead margin-none">
                    We at WeBind have taken the responsibility to impact million young lives and to accomplish that we are
                    building a great team. If working with a bunch of highly motivated individuals, building an amazing
                    product, ability to create a visible impact in someone’s life interests you, then you must click the button below
                </p>
                <a class="btn btn-primary paper-shadow" data-hover-z="2" data-animated data-toggle="modal" href="https://www.angel.co">Join</a>
                <p></p>
            </div>
        </div>
    </div>
</div>



@*<div class="parallax cover overlay height-300 height-800-lg height-320-xs">
        <img class="parallax-layer" src="~/images/Careers.jpg" alt="parallax image" />
        <div class="parallax-layer overlay overlay-full" data-opacity="true">
            <div class="v-center">
                <div class="container">
                    <h1 class="text-display-1 overlay-bg-white-strong display-inline-block">Join Us</h1>
                    <p class="text-subhead overlay-bg-white-strong">
                        We at WeBind have taken the responsibility to impact million young lives and to accomplish that we are
                        building a great team. If working with a bunch of highly motivated individuals, building an amazing

                        <span class="hidden-sm hidden-xs"></span>
                    <p class="text-subhead overlay-bg-white-strong"><a target="_blank" href="https://www.angel.co">Join</a></p>
                    </p>
                </div>
            </div>
        </div>
    </div>*@
