<!DOCTYPE html>


<div class="parallax page-section bg-blue-300">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media media-grid v-middle">
            <div class="media-left">
                <span class="icon-block half bg-blue-500 text-white"><i class="fa fa-envelope"></i></span>
            </div>
            <div class="media-body">
                <h3 class="text-display-2 text-white margin-none">Contact us</h3>
                <!--<p class="text-white text-subhead">Feel free to visit to Contact</p>-->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-section">
        <div class="col-lg-6">
            <div class="relative height-500 height-400-xs">
                <div class="maps-google-fs" data-toggle="google-maps" data-draggable="false" data-file="js/data/google_maps/markers.json" data-zoom-position="LEFT_BOTTOM" data-center="57.6990668845024,11.98333499336286" data-style="paper" data-zoom="5">
                    <iframe src="https://mapsengine.google.com/map/embed?mid=zsjXv3NS8g6Y.k2g2CnSMnQ0M&z=16" width="640" height="480"></iframe>
                </div>
                <script id="map-infobox-simple" type="text/x-handlebars-template">
                    <div>
                        <div class="text-center">
                            <h1 class="text-headline">{{ title }}</h1>
                            <p>{{ description }}</p>
                        </div>
                    </div>
                </script>
            </div>
        </div>
        <div class="page-section col-lg-6 text-center" style="margin-top:30px">
            @*<h1 class="text-display-1 overlay-bg-white-strong display-inline-block">Contact Us</h1>*@
            <p class="text-subhead overlay-bg-white-strong">Our communication etiquette  are always inspired from our ancestors. However the method is modern,easy and urbane</p>
            <p class="text-subhead overlay-bg-white-strong">You may contact us on</p>
            <p class="text-subhead overlay-bg-white-strong"><strong>connect@webind.in</strong></p>
            <p>
                <a target="_blank" href="https://www.facebook.com/webindC2C/?fref=nf" class="btn btn-indigo-500 btn-circle"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://twitter.com/search?q=%40we_bind&src=typd&lang=en" class="btn btn-blue-500 btn-circle"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://plus.google.com/101604120706081053287/about" class="btn btn-danger btn-circle"><i class="fa fa-google-plus"></i></a>
            </p>
            <p>We are working almost every day, and we appreciate you dropping by at our office.</p>
            <p>We have some lip smacking chocolate brownies, dosas and lots of opportunities to offer you. </p>
        </div>
    </div>
</div>
