﻿@*<div class="parallax overflow-hidden page-section bg-blue-400">
        <div class="container parallax-layer" data-opacity="true">
            <div class="media media-grid v-middle">
                <div class="media-left">
                    <span class="icon-block half bg-blue-500 text-white"><i class="fa fa-users"></i></span>
                </div>
                <div class="media-body">
                    <h3 class="text-display-2 text-white margin-none">Our Team</h3>
                    <p class="text-subhead">
                        <span class="hidden-sm hidden-xs">
                            Divided by different qualification & experiences, United by a cause
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>*@
<div class="parallax cover overlay height-300 height-500-lg height-320-xs">
    <img class="parallax-layer" src="../images/photodune-6745585-modern-creative-workspace-m.jpg" alt="parallax image" />
    <div class="parallax-layer overlay overlay-full" data-opacity="true">
        <div class="v-center">
            <div class="container">
                <h1 class="text-display-1 overlay-bg-white-strong display-inline-block">Our Team</h1>
                <p class="text-subhead overlay-bg-white-strong">

                    <span class="hidden-sm hidden-xs">
                        Divided by different qualifications & experiences, United by a cause
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="eliteMasters" class="parallax overflow-hidden page-section">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media media-grid v-middle">
            <div class="media-left">
                <span class="icon-block half bg-black text-white"><i class="fa fa-group"></i></span>
            </div>
            <div class="media-body">
                <h3 class="text-display-2 margin-none">Core Team</h3>
            </div>
        </div>
    </div>
</div>


<div class="page-section">
    <div class="container">
        <div class="row" data-toggle="isotope">
            <div class="item col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="panel-heading">
                        <h3 class="panel-title">Abul Hasan Rajani</h3>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <img src="~/images/people/Team/AbulHasan.jpg" alt="people" class="width-100" />
                            </div>
                            <div class="media-body">
                                <p>
                                    Born: <strong> Mumbai</strong>
                                </p>
                                <p>
                                    Qualification: <strong> MBA </strong>
                                </p>
                                <!--<span class="label label-default">Founder</span>-->
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="media">
                            <div class="media-body">
                                <p>
                                    What I wanted to become after my high school: <br /><strong>Psychiatrist </strong>
                                </p>
                                <p>
                                    What my friends thought i would become: <br /><strong>Motivational Speaker</strong>
                                </p>
                                <p>
                                    What I became eventually: <br /><strong>National Head: Campus Relations</strong>
                                </p>
                                <p>
                                    If I ever write my autobiography then the title would be : <br /><strong>Why Not Me !</strong>
                                </p>
                                <p>
                                    Quotation I live by: <br /><strong>Fail every time in every other way to taste the best taste of success</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="panel-heading">
                        <h3 class="panel-title">Abdul Samad Murghay</h3>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <img src="~/images/people/Team/samad.jpg" alt="people" class="width-100" />
                            </div>
                            <div class="media-body">
                                <p>
                                    Born: <strong> Mumbai</strong>
                                </p>
                                <p>
                                    Qualification: <strong> Electronics Engineer</strong>
                                </p>
                                <!--<span class="label label-default">Founder</span>-->
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="media">
                            <div class="media-body">
                                <p>
                                    What I wanted to become after my high school: <br /><strong>A Lawyer</strong>
                                </p>
                                <p>
                                    What my friends thought i would become: <br /><strong>Writer</strong>
                                </p>
                                <p>
                                    What I became eventually: <br /><strong>National Head: Master Relations</strong>
                                </p>
                                <p>
                                    If I ever write my autobiography then the title would be : <br /><strong>A Reluctant Maverick</strong>
                                </p>
                                <p>
                                    Quotation I live by: <br /><strong>When everything is lost, the future still remains</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-12 col-sm-6 col-lg-4">
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fahim Nathoo</h3>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="website-instructor-public-profile.html">
                                    <img src="~/images/people/Team/fahim.jpg" alt="people" class="width-100" />
                                </a>
                            </div>
                            <div class="media-body">
                                <p>
                                    Born: <strong> Mumbai</strong>
                                </p>
                                <p>
                                    Qualification: <strong> Hospitality Management</strong>
                                </p>
                                <!--<span class="label label-default">Founder</span>-->
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="media">
                            <div class="media-body">
                                <p>
                                    What I wanted to become after my high school: <br /><strong>Pilot</strong>
                                </p>
                                <p>
                                    What my friends thought i would become: <br /><strong>Entrepreneur</strong>
                                </p>
                                <p>
                                    What I became eventually: <br /><strong>National Head: Brand Relations</strong>
                                </p>
                                <p>
                                    If I ever write my autobiography then the title would be : <br /><strong>The Limitless life</strong>
                                </p>
                                <p>
                                    Quotation I live by: <br /><strong>Failure is to Success, what Evaporation is to Rainfall.</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="margin-none text-black" />
<div id="eliteMasters" class="parallax overflow-hidden page-section">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media media-grid v-middle">
            <div class="media-left">
                <span class="icon-block half bg-black text-white"><i class="fa fa-group"></i></span>
            </div>
            <div class="media-body">
                <h3 class="text-display-2 margin-none">City Lead</h3>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="panel-default paper-shadow bg-white" data-z="0.5">
            <div class="col-lg-12">
                <div class="col-lg-4 text-center">
                    <div class="panel-body">
                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/people/Team/CityLead/Shamali Birla.jpg" class="width-140 height-140 img-circle" /></h1>
                    </div>
                    <h3 class="margin-top-none">Shalmali Birla</h3>
                    <h4 class="margin-top-none">Pune</h4>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="panel-body">
                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/people/Team/CityLead/VanishaSharma.jpg" class="width-140 height-140 img-circle" /></h1>
                    </div>
                    <h3 class="margin-top-none">Vanshika Sharma</h3>
                    <h4 class="margin-top-none">Mumbai</h4>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="panel-body">
                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/people/Team/CityLead/TarantejChadha.jpg" class="width-140 height-140 img-circle" /></h1>
                    </div>
                    <h3 class="margin-top-none">Tarantej Chadha</h3>
                    <h4 class="margin-top-none">Chandigarh</h4>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="panel-body">
                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/people/Team/CityLead/Archana Gundapu.jpg" class="width-140 height-140 img-circle" /></h1>
                    </div>
                    <h3 class="margin-top-none">Archana Gundapu</h3>
                    <h4 class="margin-top-none">Hyderabad</h4>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="panel-body">
                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/people/Team/CityLead/Tavishi Ranjan.jpg" " class=" width-140 height-140 img-circle" /></h1>
                    </div>
                    <h3 class="margin-top-none">Tavishi Ranjan</h3>
                    <h4 class="margin-top-none">New Delhi</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div id="eliteMasters" class="parallax overflow-hidden page-section">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media media-grid v-middle">
            <div class="media-left">
                <span class="icon-block half bg-black text-white"><i class="fa fa-group"></i></span>
            </div>
            <div class="media-body">
                <h3 class="text-display-2 margin-none"> Investors</h3>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="panel-default paper-shadow bg-white" data-z="0.5">
            <div class="col-lg-12">

                <div class="col-lg-6 text-center">
                    <div class="panel-body">
                        <h1 class="text-brown-400 margin-top-none"><img src="/images/people/Investors/nextcom.jpg" class="width-120 img-circle" /></h1>
                    </div>
                    <h3 class="margin-top-none">Nextcom Limited</h3>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="panel-body">
                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/people/Investors/Siddique Kuwari.jpg" class="width-120 img-circle" /></h1>
                    </div>
                    <h3 class="margin-top-none">Mr. Siddique Kuwari</h3>
                </div>
            </div>
        </div>
    </div>
</div>