﻿<div class="parallax page-section bg-blue-400">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media media-grid v-middle">
            <div class="media-left">
                <span class="icon-block half bg-blue-500 text-white"><i class="fa fa-gears"></i></span>
            </div>
            <div class="media-body">
                <h3 class="text-display-2 text-white margin-none">The Concept</h3>
                <p class="text-white text-subhead"></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-section">
        <div class="container">
            <div class="text-center">
                @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="panel-default paper-shadow" data-z="0.5">
                    <div class="col-lg-12">
                        <div class="page-section col-lg-6 text-center" style="margin-top:30px">
                            @*<h1 class="text-display-1 overlay-bg-white-strong display-inline-block">What is a Master-Class</h1>*@
                            <p class="lead">
                                A curious mind is the most conducive condition for learning and perhaps this is why students are encouraged to ask lot of “WHYs” in classrooms. However, interestingly, most of their WHYs are left unanswered or are rather admonished because they are often out of the curriculum set by the system.
                                There is lot of asymmetry between the instinctual capability of the student and what our syllabus is offering.
                            </p>
                        </div>
                        <div class="col-lg-6 text-center">
                            @*<h1 class="text-grey-400 margin-top-none" style="font-size:120px"><i class="fa fa-question fa-2x"></i></h1>*@
                            <img class="col-lg-11" src="~/images/Our Concept.jpg" alt="parallax image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="panel-default paper-shadow" data-z="0.5">
                    <div class="col-lg-12">
                        <div class="col-lg-6 text-center">
                            @*<h1 class="text-grey-400 margin-top-none" style="font-size:120px"><i class="fa fa-question fa-2x"></i></h1>*@
                            <img class="col-lg-11" src="~/images/Solution.jpg" alt="parallax image" />
                        </div>
                        <div class="page-section col-lg-6 text-center" style="margin-top:30px">
                            @*<h1 class="text-display-1 overlay-bg-white-strong display-inline-block">What is a Master-Class</h1>*@
                            <p class="lead">We at Webind, envisage to create a parallel learning system that is lesser theoretical and integrate it with their regular curriculum so that lack of option becomes the last deterrent for a student to pursue his/her interest.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="panel-default paper-shadow" data-z="0.5">
                    <div class="col-lg-12">
                        <div class="page-section col-lg-6 text-center" style="margin-top:30px">
                            @*<h1 class="text-display-1 overlay-bg-white-strong display-inline-block">What is a Master-Class</h1>*@
                            <p class="lead">
                                We are bringing the industry leaders of today one-on-one with their replacements or more aptly- aspiring replacements of future. We create a setup with the aid of technology that enables a smooth and pressingly required transfer of knowledge from the industry leader to the students. It therefore renders students a substantial understanding of the industry, and thereby addressing their career concerns.
                            </p>
                        </div>
                        <div class="col-lg-6 text-center">
                            @*<h1 class="text-grey-400 margin-top-none" style="font-size:120px"><i class="fa fa-question fa-2x"></i></h1>*@
                            <img class="col-lg-11" src="~/images/Concept3.jpg" alt="parallax image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
