
<div class="cover">
    <div class="" data-opacity="true">
        <div class="page-section">
            <div class="container">
                <div class="text-center">
                    @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                </div>
            </div>
            <div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="col-lg-5 text-center">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/tPtbVwcbrNI?rel=0"></iframe>
                                    @*<img class="col-lg-11" src="~/images/howitworks1.png" alt="parallax image" />*@
                                </div>
                            </div>
                            <div class="page-section col-lg-6 text-center" style="margin-top:30px">
                                <h1 class="text-display-1 overlay-bg-white-strong display-inline-block">What is a Master-Class</h1>
                                <p class="text-subhead overlay-bg-white-strong">An interaction with a person(Industry experts) who already uses all the concepts/formulae/ in real life and have made a career out of it. This 45 minute video based interactin will bind academic learning with practical applications and processes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section bg-white">
            <div class="container">
                <div class="text-center">
                    @*<h3 class="text-display-1">Feedbacks</h3>*@
                    @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                </div>
            </div>
            <div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow bg-white" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="col-lg-3 text-center">
                                <div class="text-blue-400">
                                    <div class="panel-body">
                                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/Inspiration.png" class="width-70" /></h1>
                                    </div>
                                </div>
                                <h3 class="text-brown-400 margin-top-none">Inspiration</h3>
                                <p class="text-subhead">It gives the students all the more reason to study a particular subject/topic in detail besides sharing a quick view on the struggles of the Master</p>
                            </div>
                            <div class="col-lg-3 text-center">
                                <div class="text-blue-400">
                                    <div class="panel-body">
                                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/Information.png" class="width-70" /></h1>
                                    </div>
                                </div>
                                <h3 class="text-brown-400 margin-top-none">Information</h3>

                                <p class="text-subhead">It precipitates the theorems and humongous answers into actual practical applications in the corporate world.</p>
                            </div>
                            <div class="col-lg-3 text-center">
                                <div class="text-blue-400">
                                    <div class="panel-body">
                                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/Insight.png" class="width-70" /></h1>
                                    </div>
                                </div>
                                <h3 class="text-brown-400 margin-top-none">Insight</h3>
                                <p class="text-subhead">Every subject/book is a huge industry. and every industry has its dynamics. This section explains how you can carve a career</p>
                            </div>
                            <div class="col-lg-3 text-center">
                                <div class="text-blue-400">
                                    <div class="panel-body">
                                        <h1 class="text-brown-400 margin-top-none"><img src="~/images/Interaction.png" class="width-70" /></h1>
                                    </div>
                                </div>
                                <h3 class="text-brown-400 margin-top-none">Interaction</h3>
                                <p class="text-subhead">This is for showcasing n no of ideas you had to some of the ost powerful man in the business. this is where you interact and build a network</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="text-center page-section">

                    <h2 class="text-display-1">Three simple steps to host a Master-Class in the classroom</h2>
                </div>
            </div>
            <div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <p class="col-lg-11 icon-block double text-cyan-400" style="font-size:150px">1</p>
                            </div>
                            <div class="page-section col-lg-8 text-center" style="">
                                @*<h1 class="text-display-1 overlay-bg-white-strong display-inline-block">How to become a WCS</h1>*@
                                <p class="lead">Based on upcoming master-class sessions, professor sign ups and click on <strong>ATTEND</strong> the master-class.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="text-center">
                    @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                </div>
            </div>
            <div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="page-section col-lg-8 text-center" style="">
                                @*<h1 class="text-display-1 overlay-bg-white-strong display-inline-block">How to become a WCS</h1>*@
                                <p class="lead">Infrastructure requirements include - Projector, laptop, Internet and External speakers for the master to interact well with the students.</p>
                            </div>
                            <div class="col-lg-4">
                                <p class="col-lg-11 icon-block double text-cyan-400 pull-right" style="font-size:150px">2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="text-center">
                    @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                </div>
            </div>
            <div class="container">
                <div class="page-section">
                    <div class="panel-default paper-shadow" data-z="0.5">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <p class="col-lg-11 icon-block double text-cyan-400" style="font-size:150px;">3</p>
                            </div>
                            <div class="page-section col-lg-8 text-center" style="">
                                @*<h1 class="text-display-1 overlay-bg-white-strong display-inline-block">How to become a WCS</h1>*@
                                <p class="lead"> Log on to <a href="http://www.zoom.us/download" target="_blank">www.zoom.us/download</a>. Download the video conferencing application for the system. Launch the application and put the meeting ID - 7110600182 to successfully host a Master-Class in your college.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="parallax cover overlay height-300 margin-none">
    <img class="parallax-layer" data-auto-offset="true" data-auto-size="false" src="~/images/photodune-6745579-modern-creative-man-relaxing-on-workspace-m.jpg" alt="Learning Cover" />
    <div class="parallax-layer overlay overlay-full overlay-bg-white bg-transparent" data-opacity="true" data-speed="8">
        <div class="v-center">
            <div class="page-section">
                <div class="text-center">
                    @*<h1 class="text-display-2 margin-v-0-15 display-inline-block"></h1>
                        <p class="text-subhead"></p>*@
                    @if (!Request.IsAuthenticated)
                    {
                        <a class="btn btn-green-500 btn-lg paper-shadow" data-hover-z="2" data-animated data-toggle="modal" href="@Url.Action("Register", "Account", routeValues: null)">Sign Up For Free</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
